<h3>Active ({{ tasks.length }})</h3>
<span ng-if="tasks.length === 0">You have no active tasks!</span>
<div class="active-block" ng-if="tasks.length > 1">
  <span class="sort-link">Sort by:</span>
  <button class="as-link" ng-click="sortBy('text')">Name</button>
  <button class="as-link" ng-click="sortBy('created | daysPassed')">Date</button>
</div>
<ul class="list" ng-repeat="task in tasks | orderBy: sortParam">
  <li>
  <div class="task-description">
    <a class="task-link" href="#!/edit/{{task.id}}">{{ task.text }}</a>
    
    <p> Created: {{task.created | date : 'mediumDate'}}</p>
    <p> Days passed: {{task.created | daysPassed}}</p>
    </div>
    <div class="task-action">
    <button class="as-link" ng-click="completeTask(task)">complete</button>
    <button class="as-link" ng-click="removeTask(task)">delete</button>
    </div>
  </li>
</ul>