<div>
  <h3>Completed ({{ tasks.length }})</h3>
  <span ng-if="tasks.length === 0">You have no completed tasks!</span>
  <div ng-if="tasks.length > 1">
    <span class="sort-link">Sort by:</span>
    <button class="as-link" ng-click="sortBy('text')">Name</button>
    <button class="as-link" ng-click="sortBy('created | daysPassed')">Date</button>
  </div>
  <ul class="list" ng-repeat="task in tasks | orderBy: sortParam">
    <li>
    <div class="task-description">
      <span class="task-link">{{ task.text }}</span>  
      <p> Created: {{task.created | date : 'mediumDate'}}</p>
      <p> Days passed: {{task.created | daysPassed}}</p>
      </div>
      <div class="task-action">
      <button class="as-link" ng-click="changeToActive(task)">active</button>
      </div>
    </li>
  </ul>
</div>